body{
    margin: 0;
     overflow-x: hidden;
}

*{
    box-sizing: border-box;
   
}

#india-logo{
    width: 2rem;
}

.navbar{
    width: 100%;
    padding: 1.3rem;
}

.main-nav:nth-child(1){
  background-color: white !important;
  position: fixed;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.429);
  width: 100%;
  z-index: 10;
}

.main-nav:nth-child(2){
   background-color: #673de6;
   position: relative;
   width: 100%;
   box-shadow: 0px 0px 15px #673de6,0px 0px 15px #673de6,0px 0px 15px #673de6,0px 0px 15px #673de6,0px 0px 15px #673de6;
   color: white;
   z-index: 20;
}

.main-nav:nth-child(2) svg{
   color: white;
   fill: white;
}

.main-nav:nth-child(2) .nav-link{
    color: white;
    fill: white;
 }

 .main-nav:nth-child(2) #btnlog>button{
    color: white;
    background-color: transparent;
    border-color: white;
 }

.navbar .nav-link{
    font-weight: 500;
    color: black;
}

.navbar .nav-item{
    margin-inline: .5rem;
}


#btnlog>button:nth-child(1){
    border: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: .7rem 1rem;
    background-color: white;
    font-weight: 600;
    margin-inline: 1rem;
}

#btnlog>button:nth-child(2){
    border: none;
    border-radius: 5px;
    padding: .7rem 1rem;
    background-color: white;
    font-weight: 600;
    margin-inline: 1rem;
}

#btnlog>button:hover{
    transition: 100ms;
    opacity: 50%;
}

#top-container{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #673de6;
    color: white;
    cursor: pointer;
}

#top-container img{
    width: 100%;
}

#top-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-container>div:nth-child(1)>div{
    max-width:45ch;
    margin: auto;
}

#top-container h1{
    font-weight: 600;
    margin-bottom: 2rem;
}

#top-container p{
    margin-bottom: 2rem;
}

#top-container button{
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    background-color: #fc5184;
    border: none;
    padding: .8rem 5rem;
    transition: 500ms;
}

#top-container button:hover{
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    background-color: #bd3e64;
    border: none;
    padding: .8rem 5rem;
}

#top-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#top-container svg{
    fill: #00b090;
}






.box1{
        max-width: 1000px;
        margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2rem;
    cursor: pointer;

}

.box1>div{
    margin: 1rem;
}

.box1>div>div>h2{
    width: 1rem;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    }


.stars{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 1rem;
    cursor: pointer;
}

.stars svg{
    color: #673de6;
    fill: #5025d1;
}

.box1 p{
    margin: 2rem 0.5rem;
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.box-head{
    text-align: center;
    width: 90%;
    margin: auto;
    color: #2f1c6a;
    margin-top: 4rem;
    cursor: pointer;
}

.box-head h1{
    font-weight: 600;
}

.box-head p{
    font-weight: 500;
}



.tooltip-my>span{
display: none;
position: absolute;
background-color: #673de6;
color: white;
font-size: 1rem;
font-weight: 500;
max-width: 250px;
padding: 1rem;
border-radius: 10px;

}

.tooltip-my:hover span{
    display: block;
}

.box3 h5{
    display: flex;
    width: 100%;
    cursor: pointer;
    gap: 5px;
}

.box3 h5>span>svg{
    fill: #00b090;
}

.box3{
 margin-top: 3rem;
    
}

.box3>div{
       border:1px solid #301c6a4d ;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    color: #2f1c6a;
    padding: 1rem;
    cursor: pointer;
}

.box3>div>div{
    margin: 1rem;
}

.box3 h5{
    font-size: 1rem;
}

.box3 .tooltip-my{
    fill: #2f1c6a;
}


.banner{
    border-left: 1px solid #301c6a4c;
    border-right: 1px solid #301c6a49;
}
.banner>h1{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
}
.banner>h3{
    font-size: 1rem;
    text-align: center;
    opacity: 80%;
}

.banner>h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    
}


.banner>h2>span{
    font-size: 3rem;
}

.banner button{
    border: none;
    background-color: #673de6;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.6em 4em ;
    margin: auto;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 500ms;
    border-radius: 5px;
}

.banner button:hover{
   opacity: 50%;
}

.seemore{
    max-width: 1000px;
    border: 1px solid #301c6a4d;
    margin: auto;
    padding: 2rem;
    color: #673de6;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.seemore>svg{
    fill: #673de6;
}


.pro-container{
    color: #2f1c6a;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1000px;
    margin: 5rem auto;
    cursor: pointer;
    gap: 2rem;
}



.pro-container>div>img{
    width: 100%;
    
}

.pro-container h1{
    font-weight: 600;
    font-size: 2.2rem;
    max-width: 20ch;
}

.pro-container h5{
    color: rgba(0, 0, 0, 0.584);
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    padding: 0.8rem;
}

.pro-container h5>span>svg{
    color: #00b090 !important;
    fill: #00b090 !important;
}

.pro-container .tooltip-my svg{
    color: grey !important;
    fill: grey;
}

.block1{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    max-width: 1000px;
    margin: auto;
    cursor: pointer;
}

.block1>div:hover{
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.498);
}

.block1>div{
    padding: 1rem;
    margin: 1rem;
    background-color: #f4f5ff;
    transition: 500ms ease-in-out;
}

.block1 h5{
    font-size: 1rem;
    padding: .5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.block1 img{
   width: 15rem;
}

.head-2{
    text-align: center;
     color: #2f1c6a;
     cursor: pointer;
}

.head-2>h1{
    font-weight: 600;
}

.head-2 svg{
    color: #00b090;
    fill: #00b090;
}

.head-2 >button{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6em 4em;
    background-color: #673de6;
    color: white;
    opacity: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: 500ms;
}

.head-2>button:hover{
    opacity: 100%;
}

.colored-container{
    background-color: #673de6;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bro-container{
    color: white;
}

.bro-container h5{
    color: white;
}

.bro-container h5>span>svg{
    color: white !important;
    fill: white !important;
}

.bro-block >div{
    background-color: #5025d1;
    color: white;
}

.user-block{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    max-width: 1000px;
    margin: auto;
    cursor: pointer;
}

.user-block>div{
    border: 1px solid #5025d14f;
    margin: 1rem;
}



.user-block>div>div>p{
    font-size: .9rem;
    padding: 1rem;
    min-height: 15ch;
}

.user-block h5{
    color: #5025d1;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
}


.user-container>h1{
        color: #2f1c6a;
    text-align: center;
    font-weight: 600;
}

.user-flex{
    width: 100%;
    margin: 0;
    border-top: 1px solid #301c6a49;
    background-color: #f4f5ff;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.user-flex img{
    width: 4rem;
}


.user-flex h2{
    font-size: 1rem;
    color: #2f1c6a;
    font-weight: 600;
}

.browse{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0.8em 4em;
    border: 2px solid #5025d1;
    border-radius: 5px;
    background-color: white;
    color: #5025d1;
    font-weight: 600;
    transition: 500ms;
}

.browse:hover{
    background-color: rgba(0, 0, 0, 0.08);
}


footer{
    background-color: #301c6a16;
    padding: 2rem;
}

footer img{
    margin: 1rem;
}


footer h5{
    color: #2f1c6a;
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: #2f1c6a;
}

footer a{
    display: inline-block;
    width: 100%;
    margin: .5rem;
    text-decoration: none;
    color: #2f1c6a;
}




@media screen and (max-width: 480px) {
    
    .main-nav:nth-child(1){
        width: 100vw;
      }

    #top-container{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .box1{
        grid-template-columns: 100%;
    }

    .box3>div{
     grid-template-columns: auto;
 }

 .banner{
    border: none;
 }

 .pro-container{
    grid-template-columns: 100%;
}
.block1{
    
    grid-template-columns: 100%;

}

.user-block{
    grid-template-columns: 100%;
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto ;
    color: #2f1c6a;
}
 }


    
