body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

#india-logo{
    width: 2rem;
}

.navbar{
    
    padding: 1.3rem;
}

.main-nav:nth-child(1){
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.429);
  width: 100%;
}

.main-nav:nth-child(2){
   background-color: #673de6;
   position: relative;
   width: 100%;
   box-shadow: 0px 0px 15px #673de6,0px 0px 15px #673de6,0px 0px 15px #673de6,0px 0px 15px #673de6,0px 0px 15px #673de6;
   color: white;
}

.main-nav:nth-child(2) svg{
   color: white;
   fill: white;
}

.main-nav:nth-child(2) .nav-link{
    color: white;
    fill: white;
 }

 .main-nav:nth-child(2) #btnlog>button{
    color: white;
    background-color: transparent;
    border-color: white;
 }

.navbar .nav-link{
    font-weight: 500;
    color: black;
}

.navbar .nav-item{
    margin-inline: .5rem;
}


#btnlog>button:nth-child(1){
    border: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: .7rem 1rem;
    background-color: white;
    font-weight: 600;
    margin-inline: 1rem;
}

#btnlog>button:nth-child(2){
    border: none;
    border-radius: 5px;
    padding: .7rem 1rem;
    background-color: white;
    font-weight: 600;
    margin-inline: 1rem;
}

#btnlog>button:hover{
    transition: 100ms;
    opacity: 50%;
}

#top-container{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #673de6;
    color: white;
}

#top-container img{
    width: 100%;
}

#top-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-container>div:nth-child(1)>div{
    max-width:45ch;
    margin: auto;
}

#top-container h1{
    font-weight: 600;
    margin-bottom: 2rem;
}

#top-container p{
    margin-bottom: 2rem;
}

#top-container button{
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    background-color: #fc5184;
    border: none;
    padding: .8rem 5rem;
    transition: 500ms;
}

#top-container button:hover{
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    background-color: #bd3e64;
    border: none;
    padding: .8rem 5rem;
}

#top-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#top-container svg{
    fill: #00b090;
}






.box1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2rem;
}

.box1>div{
    margin: 1rem;
}

.box1>div>div>h2{
    width: 1rem;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    }


.stars{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 1rem;
}

.stars img{
width: 1.5rem;
}

.box1 p{
    margin: 2rem 0.5rem;
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
}

.box-head{
    text-align: center;
    width: 90%;
    margin: auto;
    color: #2f1c6a;
    margin-top: 4rem;
}

.box-head h1{
    font-weight: 600;
}

.box-head p{
    font-weight: 500;
}



.tooltip-my>span{
display: none;
position: absolute;
background-color: #673de6;
color: white;
font-size: 1rem;
font-weight: 500;
max-width: 250px;
padding: 1rem;
border-radius: 10px;

}

.tooltip-my:hover span{
    display: block;
}

.box3 h5{
    display: flex;
    width: 100%;
    cursor: pointer;
    gap: 5px;
}

.box3 h5>span>svg{
    fill: #00b090;
}























@media screen and (max-width: 480px) {
    
    #top-container{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .box1{
        grid-template-columns: auto auto;
    }
    
}